<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <bean name="coinigyAPI" class="com.cv.coinigy.CoinigyRest">
    <constructor-arg
      name="apiKey"
      value="YOUR API KEY HERE" />
    <constructor-arg
      name="apiSecret"
      value="YOUR API SECRET HERE" />
  </bean>
</beans>
